::placeholder {

    color: #fff;
}

.textbox {

    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    padding: 0px 14px;
    height: 56px;
    width: 100%;
    border: none;
    color: #fff;
    transition: 0.3s background;
}

.textbox:hover, .textbox:focus {

    background: rgba(255, 255, 255, 0.23);
    outline: none;

}
