@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {

    background: #051D3B;
    color: #fff;
    font-family: 'Inter';
}

.header {

    padding: 20px 0;
}

.container {

    width: 90%;
    margin: 0 auto;
}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__search {

    width: 66%;
}

.header__avatar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0px 14px;
    height: 56px;
    gap: 10px;
    transition: 0.3s background;
}

.header__avatar:hover{

    background: rgba(255, 255, 255, 0.16);

}

.main .container{

    display: flex;
    justify-content: space-between;
}

.navMenu{

    display: flex;
    flex-direction: column;
}

.navMenu a, .navMenu h3 {

    margin: 0 0 1rem 0;
}

.navMenu a{

    display: flex;
    align-items: center;
    
}

.navMenu img {

    margin-right: 1rem;
}

.navMenu__link, .navMenu__link--active{

    text-decoration: none;
    color: #fff;

}

.navMenu__link{

    opacity: 0.5;
    transition: 0.3s opacity;
}

.navMenu__link:hover{

    opacity: 0.8;
}

