@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {

    background: #051D3B;
    color: #fff;
    font-family: 'Inter';
}

.header {

    padding: 20px 0;
}

.container {

    width: 90%;
    margin: 0 auto;
}

.header .container {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{


    flex: 0 0 20.0%;
    

}

.header__search {

    flex: 0 0 50%;
    text-align: center;
    
   
}

.header__avatar {

    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 20.0%;
    box-sizing: border-box;
    transition: 0.3s background;
}

.header__avatar__container{


    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0px 14px;
    height: 56px;
    box-sizing: border-box;
    transition: 0.3s background;
}

.header__avatar__container:hover{

    background: rgba(255, 255, 255, 0.16);

}


.main .container{

    display: flex;
    justify-content: space-between;
    
}

.sideMenu{


    flex: 0 0 20.0%;
  
    display: flex;
    flex-direction: column;
    
}

.sideMenu a, .sideMenu h3, .sideMenu input, .sideMenu textarea, .sideMenu select {

    margin: 0 0 1rem 0;
}

.sideMenu a{

    align-items: center;
    
}

.sideMenu img {

    margin-right: 1rem;
}

.navMenu__link, .navMenu__link--active{

    text-decoration: none;
    color: #fff;

}

.navMenu__link{

    opacity: 0.5;
    transition: 0.3s opacity;
}

.navMenu__link:hover{

    opacity: 0.8;
}

.sideMenu__projetoForm__fieldset-projeto{

    margin: 0 0 2rem 0;
}

.codeEditor-container{

    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}

.codeEditor-container-body{

    
    height: 100%;
    padding: 2rem;
    background: #6BD1FF;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0 0 2rem 0;
}

.codeEditor-box{

    width: 100%;
    background: #000;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
}

